
body { 
}

section {
	background-color: #B7950B;
	border-width: 0.2em;
	border-color: black;
	border-style:solid;
	width: 30em;
	height: 30em;
	margin: auto;
	margin-top: 5em;
}

header {
	color: #4169e1;
	font-size: 2.5em;
	text-align: center;
	border-bottom: black dotted 2px;
}

fieldset {
	width: 18em;
	height: 12em;
	color: 	#4169e1;
	font-size: 1.5em;
	border-width: 0.2em;
	border-color: #4169e1;
	border-style: double;
	padding: 0.4em;
	line-height: 150%;
	margin: auto;
	text-align: left;
	margin-top: 1.1em;
}

#champs {
	float:right;
	margin-right: 1em;
	width: 16.5em;
	line-height: 150%;
	padding: 0.15em;
	border-width: 0.15em;
	border-color: #4169e1;
}
#champs:hover {
	border-width: 0.2em;
}

#bouton {
	display:block;
	padding: 0.5em;
	font-size:1.1em;
	width: 65%;
	color:#B7950B;
	margin: auto;
	margin-top: 1em;
	border: solid #4169e1 1px;
}
